@import '@/styles/sizes.scss';
@import '@/styles/colors.scss';
@import '@/styles/functions.scss';

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-primary;
  background-image: radial-gradient(
    circle farthest-corner at 50% 50%,
    $color-primary,
    $color-secondary
  );
  min-height: toRem(500);
  border-radius: 25px;

  h1, p {
    color: $color-white;
    text-align: center;
  }
}

.btnWrapper {
  margin: $gap $gutter;
}
