// Site
// -----------------------------------------------------------------------
$site-width: 1200px;

// Spacing
// -----------------------------------------------------------------------
$gutter: 15px;
$gap: 30px;

// Breakpoints
// -----------------------------------------------------------------------
$bp-s: 768px;
$bp-m: 1279px;
$bp-l: 1679px;
